<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Add, Edit and Delete Customer and Account">

    <test name="Add, Edit and Delete Customer and Account">
        <classes>
<!--            <class name="tests.AddNewCustomerTest" />-->
<!--            <class name="tests.AddAndEditNewCustomerTest" />-->
<!--            <class name="tests.AddAndDeleteNewCustomerTest" />-->
            <class name="tests.AddNewAccountTest" />
            <class name="tests.AddAndEditNewAccountTest" />
            <class name="tests.AddAndDeleteNewAccountTest" />
        </classes>
    </test>

</suite>